<table *ngIf="this.classificationData$ | async as classification; else loading" class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Name</th>
            <th class="text-center">Games</th>
            <th class="text-center">W</th>
            <th class="text-center">L</th>
            <th class="text-center">D</th>
            <th class="text-center">Goal Difference</th>
            <th class="text-center">Points</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let standing of classification" [routerLink]="['/team', standing.team.id]">
            <td>{{standing.rank}}</td>
            <td> <img [src]="standing.team.logo"> </td>
            <td>{{standing.team.name}}</td>
            <td class="text-center">{{standing.all.played}}</td>
            <td class="text-center">{{standing.all.win}}</td>
            <td class="text-center">{{standing.all.lose}}</td>
            <td class="text-center">{{standing.all.draw}}</td>
            <td class="text-center">{{standing.goalsDiff}}</td>
            <td class="text-center">{{standing.points}}</td>
        </tr>
    </tbody>
</table>

<ng-template #loading>
    <div class="alert alert-warning text-center">
        Loading...
    </div>
</ng-template>